html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {    
    height: 100vh auto;
    width: 100vw;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    display: flex;
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.imgemDiv{
    display: flex;
    justify-content: space-between;
}
.imagem{
    height: 300px;
    mix-white: 600px;
    background-size: cover;
    margin-right: 20px;
}
.text1{
    display: flex;
    font-size: 18px;
    text-align: justify;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}